.DS_Store
__pycache__/
.vscode/
SPH/dataset/
SPH/spheres_ini/*
!SPH/spheres_ini/SEAGen
SPH/spheres_ini/SEAGen/*
!SPH/spheres_ini/material*.cfg
SPH/miluphcuda/*
!SPH/miluphcuda/parameter_hydro.h
!**/README.md
/saved_models/
**/*.sh
!env*.sh
**/slurm*.out
*.pyc
*.npy
*.pt
*.bin
*.log
*.tgz